
<div class="container">

<div class="row">
  <div class="col-md-6">
    <h1>Hungry-natra</h1>
  </div>
</div>


<div class="row">
    <div class="col-md-6">


<div class="panel panel-default">
  <div class="panel-body">
    Welcome to Hungry-natra.  We're here to serve you.  Food.<br>
  </div>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-success">USERS</a>
  <a href="/menu" class="list-group-item ">Place an Order</a>
  <a href="#" class="list-group-item list-group-item-info">ADMIN</a>
  <a href="/editmenu" class="list-group-item ">Edit Menu</a>
  <a href="/vieworders" class="list-group-item ">View Placed Orders</a>
</div>


</div>


  </div>
</div>


</div>


<script>
  $("#addDo").validate();
</script>

